#inicio{
  color: orange;
  font-size: 25px;
 }
 #bienvenida{
   color: green;
 }
 #desc{
   color: blue;
 }
 #tecno{
  color: purple; 
 }
 #sport{
   color: red;
 }
 #food{
  color: blue; 
 }
 body{
  font-family: arial;
  font-size: medium;
 }